<!DOCTYPE html>
<html>
    <head>
        <title>Movie Ratings Comparator</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.css">
        
        <style>
        
.ui.file.input input[type="file"] {
    display: none;
}


body {
  padding: 1em;
}

.ui.action.input input[type="file"] {
  display: none;
}
</style>
    </head>
    

    <body>
