<% include partials/header %>
    <script src="/socket.io/socket.io.js"></script>

   <title>Movie Ratings Comparator</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.css">
        
        <style>
        
.ui.file.input input[type="file"] {
    display: none;
}


body {
  padding: 1em;
}

.ui.action.input input[type="file"] {
  display: none;
}

.custom {
    height: 500px;
}
</style> 


 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>  
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.js"></script>

    
       </head>
    

    <body> 

<div class="ui container blurring">
        <div class="ui inverted page dimmer">
            <div class="content">
                <div class="center">
                    <div class="ui  icon header">
                                                    <div class="ui huge text loader">Processing... <span id="test1">0</span><span>%</span>
                       
                    </div>     </div>
                        
                </div>
            </div>
        </div>
  



<div class="ui blurring page grid">
        <nav class="ui text menu navbar">
            <div class="left menu">
                <a href="" class="item">The Movie Comparator</a>
            </div>
        </nav>
        <div class="ui grid">
            <div class="row">
                <div class="column">
                    <div class="ui  huge floating message" >
                       <h1 class="ui header">Analyze your film preferences</h1>
                            <p>If you rate movies on IMDb, you can export your ratings, upload them here, and we'll analyze your likes and dislikes. <a href="/example" >Check out</a> a sample page of results.</p>
                            <p>Learn  <a id="toggle3" >more</a> about the process, find out  <a id="toggle2" >how to export</a> your IMDb ratings, or if you're ready, upload your ratings file below.</p>
                    <form   style="width: 500px" id = "uploadForm" enctype   =  "multipart/form-data" action="/home/upload" method = "post">
    
    <div class="ui basic form segment">
    <div class="field">
        <label for="file1">Upload your ratings file</label>
        <div class="ui fluid file input action">
       

            <input type="text" placeholder="ratings.csv" readonly>
            <input type="file" id="file1" name="avatar" autocomplete="off" placeholder="DOGjjjjjjjjjjjjjjjjj">
            <div class="ui button">
                Select...
            </div>
            
        </div>
        <br>
        <button disabled class = "ui green button submitbutton" type="submit" id="toggle">Upload</button>
       
            </form>
    </div>

</div>
    
    
    
     

  </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui hidden divider"></div>
                   <div class="ui grid">
                <div class="two column row">
                    <div class="column">
                        <h2 class="ui medium header"><i class="users icon"></i>Actors</h2>
                        <p>See which actors/actresses you like the most, and which you can't stand.</p>
                    </div>
                     <div class="column">
                        <h2 class="ui medium header"><i class="user icon"></i>Directors</h2>
                        <p>Find out which directors consistently make films you enjoy.</p>
                    </div>
                   
                </div>
                
                <div class="two column row">
                  <div class="column">
                        <h2 class="ui medium header"><i class="write icon"></i>Writers</h2>
                        <p>See which writers are behind films you like.</p>
                    </div>
                     <div class="column">
                        <h2 class="ui medium header"><i class="puzzle icon"></i>Genre</h2>
                        <p>Find out which genres you watch the most of.</p>
                    </div>
                   
                   
                </div>
                    
                
                <div class="two column row">
                     <div class="column">
                        <h2 class="ui medium header"><i class="law icon"></i>Polarizing</h2>
                        <p>Find out what movies you hated but critics loved, and vice versa.</p>
                    </div>
                      <div class="column">
                        <h2 class="ui medium header"><i class="bar chart icon"></i>Histogram</h2>
                        <p>See what kind of scores you typically give movies, compared to other people.</p>
                    </div>
                 
                </div>
                <div class="two column row">
                      <div class="column">
                        <h2 class="ui medium header"><i class="low vision icon"></i>MPAA Ratings</h2>
                        <p>See whether you tend to watch R rated, PG-13, or G rated movies.</p>
                    </div>
                    <div class="column">
                        <h2 class="ui medium header"><i class="info icon"></i>Tidbits</h2>
                        <p>Learn some miscellaneous info, like which are the longest films you've seen and the most obscure.</p>
                    </div>

                </div>
                    <div class="row">
                        <div class="column">
                            <div class="ui divider"></div>

                            <span><a href="google.com">Democritos Tsellos</a></a></span>
                        </div>
                    </div>
                </div>
    </div>
    </div>    
    </div>
    </div>
    </div>
 
<div class="ui small modal guide">
  <i class="close icon"></i>
  <div class="header">
    Exporting your IMDb ratings
  </div>
  <div class="image content">
    <div class="image">
      <img class="ui image" style="width: 400px;" src="/static/images/signin.gif"></img>
    </div>
    <div class="description">
        <h1>Log in</h1>
        <p>Log into your IMDB account.</p>
</div>
  </div>
  <hr>
    <div class="image content">
    <div class="image">
      <img class="ui image" style="width: 400px;" src="/static/images/johndoe.gif"></img>
    </div>
    <div class="description">
        <h1>Navigate to My Ratings</h1>
        <p>Navigate to My Ratings</p>
</div>
  </div>
  <hr>
    <div class="image content">
    <div class="image">
      <img class="ui image" style="width: 400px;" src="/static/images/export.gif"></img>
    </div>
    <div class="description">
        <h1>Export list</h1>
        <p>Scroll to the bottom of My ratings, and click Export List.</p>
</div>
  </div>
  <hr>
    <div class="image content">
    <div class="image">
      <img class="ui image" style="width: 400px;" src="/static/images/ratings.gif"></img>
    </div>
    <div class="description">
        <h1>Upload ratings.csv file</h1>
        <p>A ratings.csv file will be downloaded from IMDb. Upload this on the main page.</p>
</div>
  </div>
  
  
  
  
  
</div>

<div class="ui small modal about">
  <div class="header">About</div>
  <div class="content">
      
      <p>This websites uses the <a href="http://www.omdbapi.com/">OMDb API</a> to retrieve information for each movie you've rated, such as the actors, writers, directors, and MPAA rating.</p>
      <p>No data mining or web scraping is used, and the website is not affiliated with IMDb.</p>
      
    </div>
</div>
    
    
    <script>
  var socket = io.connect('https://imdb-comparator-dtsellos03.c9users.io/');
  socket.on('connect', function(){});
  socket.on('message', function(data){
      console.log(data+"%")
     $("#test1").text(data);
     $('#example4').progress({
  percent: data
});
  });
  socket.on('disconnect', function(){});
</script>


    <script>
        $('#toggle').click(function(){ $('.ui.dimmer').dimmer("toggle")})
    
     $('#toggle2').click(function(){ $('.ui.modal.guide')
  .modal('show')})
;

     $('#toggle3').click(function(){ $('.ui.modal.about')
  .modal('show')})
;
    
    </script>
    
    <script>
$('.ui.file.input').find('input:text, .ui.button')
  .on('click', function(e) {
    $(e.target).parent().find('input:file').click();
  })
;

$('input:file', '.ui.file.input')
  .on('change', function(e) {
    var file = $(e.target);
    var name = '';

    for (var i=0; i<e.target.files.length; i++) {
      name += e.target.files[i].name + ', ';
    }
    // remove trailing ","
    name = name.replace(/,\s*$/, '');

		$('input:text', file.parent()).val(name);
  })
;

</script>

<script>
    $('input:file').on("change", function() {
    $('.submitbutton').prop('disabled', !$(this).val()); 
});
</script>
    
</html>