<% include partials/header %>

<div class="jumbotron container">
    
    <form id        =  "uploadForm"
    enctype   =  "multipart/form-data"
    action    =  "/home/upload"
    method    =  "post"
>
        
        <label class="btn btn-default btn-file">
    

<input type="file" name="avatar">Upload
<input type="submit" value="" name="submit" class="btn btn-primary">
</form>
  </label>  
    
</div>
